.container{
    display: flex;
    flex-direction: column;
}

.PolvoCoisasBonitas{
    background-color: brown;
}
.PolvoCoisasBonitas img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.Servicos{
    background-color: chocolate;
}
.Card{
    display: flex;
    gap: 200px;
    background-color: rgb(17, 55, 56);
}
.ServicosButton{
    background-color: cadetblue;
}
.Diferenciais{
    background-color: coral;
}