/* App.css */
.navB {
    display: flex;
    justify-content: center;
    background-color: #2F4F4F;
    align-items: center;
    padding: 5px;
    height: 60px;
}

.navList {
    display: flex;
    gap: 35px; /* Espaçamento entre os links */
    list-style: none;
    padding: 0;
    margin: 0;
}

.links {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease; /* Transição suave da cor ao passar o mouse */

    &:hover {
        padding: 15px;
        color: #fff; /* Cor do texto ao passar o mouse */
        background-color: #101d1d; /* Cor de fundo ao passar o mouse */
        border-radius: 5px; /* Borda arredondada ao passar o mouse */
    }
}

.navItem span{
    font-size: 1.5em;
    font-weight:700;
    text-decoration: none;
}
.TitleBar{
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}
.TitleBar span{
    font-weight: 900;
    text-transform: uppercase;
    color: goldenrod;
}
